* {
    margin: 0;
    padding: 0; }

  *,
  *::before,
  *::after {
    box-sizing: inherit; }

html {
    font-size: 62.5%;
    background: #4B4B4B;
}

.main {
    margin-top: 54px;
    padding: 0 1rem;
}